/**

Classe toast : définiton d'un toast

**/

.toast {
    position: absolute;
    width: 200 px;
    height: 100 px;
    top: 20 px;
    left: 50%;

}

.toast .danger {
    background-color: rgba(206, 7, 7, 0.8);
    color : rgb(8, 4, 4);
    border : solid 1px #fff;
    

}