<div class='row'>
    <!-- Ici, le contenu de l'application finale identifié par l'attribut "app" -->
    <form id="loginForm" class="form-stacked col-md-6 center-block">
        <input type="text" name="loginField" autocomplete="off" class="form-control" placeholder="Votre identifiant">
        <!-- autocomplete off : pas de recherche des dernières entrées saisies (pas de propositions=-->
        <!-- placeholder: champ grisé qui apparait dans le formulaire et disparait lorsque l'on entre un champ-->
        <input type="password" name="passwordField" autocomplete="off" class="form-control" placeholder="Votre mot de passe">
        <!-- Bouton de type submit : bouton qui soumet le formulaire entré et prend tout le contenu du serveur qu'il envoie dans le réseau-->
        <button type="submit" id="btnLogin" class="btn btn-success" disabled>Connexion</button>

    </form>

</div>

